<% @title = "Factores Internos" %>
<div class="columns">
  <div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li> <%= link_to  "Dashboard", root_path %></li>
        <li class="is-active">
          <a href="#" aria-current="page">Factores Internos</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="column is-flex-row-end">
    <%= link_to strategies_path, class: "button is-info" do %>
      <p> Matriz foda </p>
      <span class="icon">
        <i class="mdi mdi-arrow-right"></i>
      </span>
    <% end %>
  </div>
</div>



<div class="columns">
  <div class="column">
    <div class="card margin-small shadow-cm">
      <div class="card-content">
        <p class="title is-4 has-text-centered">Factores Internos</p>
        <p class="subtitle is-6 has-text-centered">Evaluando Fortalezas y Debilidades de la organización.</p>

        <div class="columns no-margin has-text-weight-bold" style="margin: 0 0 10px 0;">
          <div class="column is-5 has-text-centered">
            <div class="has-background-link has-text-white "> Tabla de Evaluación </div>
            <div style="height: 100%;" class="is-middle"> Factores Internos </div>

          </div>
          <div class="column is-6 has-text-centered">
            <div class="columns">
              <div class="column is-4">
                <div class="has-background-primary has-text-white ">Importancia de éxito</div>
                <div class="columns">
                  <div class="column">Alta (3)</div>
                  <div class="column">Media (2)</div>
                  <div class="column">Baja (1)</div>
                </div>
              </div>
              <div class="column is-6">
                <div class="has-background-link has-text-white ">Desempeño de la empresa</div>
                <div class="columns is-gapless">
                  <div class="column">Muy bueno (+2)</div>
                  <div class="column">Bueno (+1)</div>
                  <div class="column">Deficiente (-1)</div>
                  <div class="column">Muy Deficiente (-2)</div>
                </div>
              </div>
              <div class="column is-2 has-background-danger ">
                <div class=" has-text-white ">Valor ponderado del factor</div>
              </div>
            </div>
          </div>
          <div class="column has-background-success has-text-white">
            <p style="transform: rotate(270deg);">Evaluar</p>
          </div>
        </div>

        <% @areas.each do |area|%>
          <div class="columns padding-small-all ">
            <div class="column is-5 has-background-dark has-text-white">
              <div > <%= area.name %> </div>
            </div>
            <div class="column has-background-dark  has-text-white">

            </div>
            <div class="has-background-dark  has-text-white">

            </div>
          </div>
          <% area.activities.each do |activity| %>
            <div class="columns padding-small-all">
              <div class="column is-5 ">
                <div > <%= activity.name %> </div>
              </div>
              <div class="column is-6 has-text-centered">

                <div class="columns ">
                  <div class="column is-4">

                    <div class="columns">
                      <div class="column ">
                        <% if (activity.alta > 0) %>
                          <%= activity.alta %>
                        <% end %>
                      </div>
                      <div class="column ">
                        <% if (activity.media > 0) %>
                          <%= activity.media %>
                        <% end %>
                      </div>
                      <div class="column ">
                        <% if (activity.baja > 0) %>
                          <%= activity.baja %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="column is-6">
                    <div class="columns">
                      <div class="column ">
                        <% if (activity.muy_bueno > 0) %>
                          <%= activity.muy_bueno %>
                        <% end %>
                      </div>
                      <div class="column ">
                        <% if (activity.bueno > 0) %>
                          <%= activity.bueno %>
                        <% end %>
                      </div>
                      <div class="column ">
                        <% if (activity.deficiente < 0) %>
                          <%= activity.deficiente %>
                        <% end %>
                      </div>
                      <div class="column ">
                        <% if (activity.muy_deficiente < 0) %>
                          <%= activity.muy_deficiente %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="column is-2">
                    <div class="has-text-weight-bold">
                      <% if (activity.valor < 0) %>
                        <p class="has-text-danger"><%= activity.valor %></p>
                      <% else %>
                        <p class="has-text-link"><%= activity.valor %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span data-label="<%= t('.evaluar_link') %>" class="is-black is-top is-medium tooltip">
                 <%= link_to edit_factor_interno_path(activity), class: "button is-info" do %>
                    <span class="icon">
                      <i class="mdi mdi-format-list-checks"></i>  
                    </span>
                  <% end %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="columns">
          <div class="column is-6">
            <h3 class="has-text-danger has-text-weight-bold">Debilidades: Valor Ponderado < 0</h3>
          </div>
          <div class="column is-6">
            <h3 class="has-text-link has-text-weight-bold">Fortalezas: Valor Ponderado > 0</h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
