<% @title = "Lista de valores" %>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Dashboard", root_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Valores</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth">
      <div class="card margin-small shadow-cm">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Los valores</p>
          <p class="subtitle is-6 has-text-centered">Los valores de la organización.</p>
                      
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Título</th>
                <th colspan="2">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <% @values.each do |value| %>
                <tr>
                  <td><%= value.title %></td>                  
                  <td>
                    <span data-label="<%= t('.edit_link') %>" class="is-black is-top is-medium tooltip">
                      <%= link_to(edit_value_path(value), html_options =  {class: "button is-info"}) do %>
                        <span class="icon">
                          <i class="mdi mdi-square-edit-outline"></i>
                        </span>
                      <% end %>
                    </span>
                  </td>
                  <td>
                    <span data-label="<%= t('.remove_link') %>" class="is-black is-top is-medium tooltip">
                      <%= link_to value, method: :delete, data: { confirm: 'Estás seguro de eliminar el registro?' }, class: "button is-danger" do %>
                        <span class="icon">
                          <i class="mdi mdi-delete"></i>
                        </span>
                      <% end %>
                    </span>
                  </td>
                </tr>
              <% end %>
              
            </tbody>
          </table>

          

          <%= link_to new_value_path, class: "button is-success" do %>
              <span class="icon">
                <i class="mdi mdi-library-plus"></i>
              </span>
              <span><%= t('.new_link') %></span>
          <% end %>
        </div>
    </div>

  </div>
</div>

