<%= form_with(model: objective, local: true) do |form| %>
  <% if objective.errors.any? %>
    <div class="message is-danger">
      <h2 class="title is-5"><%= pluralize(objective.errors.count, "error") %> al realizar la operación:</h2>
      <div class="message-body">
        <ul>
          <% objective.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content, class: "label is-normal" %>
    <div class="control"> 
      <%= form.text_field :content, class: "input is-info" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :estrategias, class: "label is-normal" %>
    <div class="control"> 
      <input class="input is-info" value="<%= estrategias.map{ |estrategia| estrategia.strategy.slug }.join(",") %>" type="text" name="objective[estrategias]" id="objective_estrategias">
    </div>
  </div>
  <div class="actifield is-grouped margin-small-topons">
    <%= form.submit "Editar", class: "button is-primary" %>
  </div>
<% end %>
