<div class="menu-bg">
    <div class="main-sidebar bg-white shadow-cm">
        <div class="toggle-close is-pulled-right margin-extra-small-right">
            <i class="mdi mdi-arrow-left mdi-36px"></i>
        </div>
        <aside class="menu">
            <p class="menu-label padding-small-all">
                Ministerio Público             
            </p>
            <ul class="menu-list is-scrolly has-type-1">
                <%- if user_signed_in? %>
                    <li>
                        <%= link_to(informations_path, html_options = {class: "item #{ current_class?(informations_path) }"}) do %> 
                            <i class="mdi mdi-note mdi-24px"></i>
                            Nosotros Somos
                        <% end %>
                    </li>
                    
                    <li>
                        <%= link_to(values_path, html_options = {class: "item #{ current_class?(values_path) }"}) do %> 
                            <i class="mdi mdi-verified mdi-24px"></i>
                            Valores
                        <% end %>
                    </li>
                    <li>
                        <%= link_to(informations_path, html_options = {class: "item #{ current_class?(mision_vision_path) }"}) do %> 
                            <i class="mdi mdi-domain mdi-24px"></i>
                            Organigrama
                        <% end %>
                    </li>
                    <li>
                        <%= link_to(procesos_path, html_options = {class: "item #{ current_class?(procesos_path) }"}) do %> 
                            <i class="mdi mdi-map mdi-24px"></i>
                            Macroproceso
                        <% end %>
                    </li>
                    <li>
                        <%= link_to(activities_path, html_options = {class: "item #{ current_class?(activities_path) }"}) do %>
                            <i class="mdi mdi-trending-up mdi-24px"></i>
                            Cadena de valor
                        <% end %>
                    </li>
                    <li>
                      <%= link_to(factors_path, html_options = {class: "item #{ current_class?(factors_path) }"}) do %>
                        <i class="mdi mdi-hammer mdi-24px"></i>
                        Fuerzas de Porter
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(evaluar_factor_interno_path, html_options = {class: "item #{ current_class?(evaluar_factor_interno_path) }"}) do %>
                        <div class="columns">
                            <div class="column is-2">
                                <i class="mdi mdi-trending-up mdi-24px"></i>
                            </div>
                            <div class="column">
                                Evaluar Factores Internos
                            </div>
                        </div>
                      <% end %>                      
                    </li>
                    <li>
                      <%= link_to(evaluar_factor_externo_path, html_options = {class: "item #{ current_class?(evaluar_factor_externo_path) }"}) do %>
                        <div class="columns">
                            <div class="column is-2">
                                <i class="mdi mdi-trending-up mdi-24px"></i>
                            </div>
                            <div class="column">
                                Evaluar Factores Externos
                            </div>
                        </div>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to(strategies_path, html_options = {class: "item #{ current_class?(strategies_path) }"}) do %>
                        <i class="mdi mdi-trending-up mdi-24px"></i>
                        Matriz Foda
                      <% end %>
                    </li>

                    <li>
                      <%= link_to(objectives_path, html_options = {class: "item #{ current_class?(objectives_path) }"}) do %>
                        <i class="mdi mdi-trending-up mdi-24px"></i>
                        Objectivos
                      <% end %>
                    </li>

                    <li>
                      <%= link_to(mapa_estrategico_relaciones_path, html_options = {class: "item #{ current_class?(mapa_estrategico_relaciones_path) }"}) do %>
                        <i class="mdi mdi-trending-up mdi-24px"></i>
                        Mapa Estratégico
                      <% end %>
                    </li>

                    <li>
                      <%= link_to(indicators_path, html_options = {class: "item #{ current_class?(indicators_path) }"}) do %>
                        <i class="mdi mdi-ruler mdi-24px"></i>
                        Indicatores
                      <% end %>
                    </li>

                    <li>
                      <%= link_to(datos_path, html_options = {class: "item #{ current_class?(datos_path) }"}) do %>
                        <i class="mdi mdi-database mdi-24px"></i>
                        Datos
                      <% end %>
                    </li>
                    
                   
                <% else %>
                    <li>
                        <%= link_to(mision_vision_path, html_options = {class: "item is-middle #{ current_class?(mision_vision_path) }"}) do %> 
                            <i class="mdi mdi-eye mdi-24px"></i>
                            Misión y visión
                        <% end %>
                    </li>
                    <li>
                        <%= link_to(valores_path, html_options = {class: "item #{ current_class?(valores_path) }"}) do %> 
                            <i class="mdi mdi-verified mdi-24px"></i>
                            Valores
                        <% end %>
                    </li>
                    <li>
                        <%= link_to(organigrama_path, html_options = {class: "item #{ current_class?(organigrama_path) }"}) do %> 
                            <i class="mdi mdi-domain mdi-24px"></i>
                            Organigrama
                        <% end %>
                    </li>
                    <li>
                        <%= link_to(macroproceso_path, html_options = {class: "item #{ current_class?(macroproceso_path) }"}) do %> 
                            <i class="mdi mdi-map mdi-24px"></i>
                            Macroproceso
                        <% end %>
                    </li>
                    <li>
                        <%= link_to(cadena_valor_path, html_options = {class: "item #{ current_class?(cadena_valor_path) }"}) do %> 
                            <i class="mdi mdi-trending-up mdi-24px"></i>
                            Cadena de valor
                        <% end %>
                    </li>
                    <li>
                      <%= link_to(fuerzas_porter_path, html_options = {class: "item #{ current_class?(fuerzas_porter_path) }"}) do %>
                        <i class="mdi mdi-hammer mdi-24px"></i>
                        Fuerzas de Porter
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(factores_internos_path, html_options = {class: "item #{ current_class?(factores_internos_path) }"}) do %>
                        <i class="mdi mdi-trending-up mdi-24px"></i>
                        Factores Internos
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(factores_externos_path, html_options = {class: "item #{ current_class?(factores_externos_path) }"}) do %>
                        <span class="icon">
                            <i class="mdi mdi-trending-up mdi-24px"></i>
                        </span>
                        Factores Externos
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(matriz_foda_path, html_options = {class: "item #{ current_class?(evaluar_factor_externo_path) }"}) do %>
                        <i class="mdi mdi-trending-up mdi-24px"></i>
                        Matriz Foda
                      <% end %>
                    </li>

                    <li>
                      <%= link_to(mapa_estrategico_path, html_options = {class: "item #{ current_class?(mapa_estrategico_path) }"}) do %>
                        <i class="mdi mdi-trending-up mdi-24px"></i>
                        Mapa Estratégico
                      <% end %>
                    </li>

                    <li>
                      <%= link_to(mapa_estrategico_path, html_options = {class: "item #{ current_class?(mapa_estrategico_path) }"}) do %>
                        <i class="mdi mdi-ruler mdi-24px"></i>
                        Indicatores
                      <% end %>
                    </li>

                    <li>
                      <%= link_to(mapa_estrategico_path, html_options = {class: "item #{ current_class?(mapa_estrategico_path) }"}) do %>
                        <i class="mdi mdi-database mdi-24px"></i>
                        Datos
                      <% end %>
                    </li>
                <% end %>
            </ul>
            
        </aside>
    </div>
</div>