<% @title = "Fuerza de Porter" %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Dashboard", root_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Fuerza de Porter</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column">
      <div class="card margin-small shadow-cm">
        <div class="card-content">
          <p class="subtitle has-text-centered">Las fuerzas y factores que afectan a la organización.</p>
          <div class="is-between">
            <p class="title is-4">Fuerza de Porter</p>
            <%= link_to new_force_path, class: "button is-success" do %>
                <span class="icon">
                  <i class="mdi mdi-library-plus"></i>
                </span>
                <span><%= t('.new_force_link') %> </span>
            <% end %>
          </div>

          <div class="shadow-cm padding-small-all">
            <% @forces.each do |force| %>
              <div class="columns ">
                <div class="column is-8 has-background-primary has-text-white">
                  <div class="has-text-weight-bold">
                    <%= force.name %>
                  </div>
                </div>

                <div class="column is-2 has-text-right has-background-primary has-text-white">
                  <span data-label="<%= t('.edit_force_link') %>" class="is-black is-top is-medium tooltip">
                    <%= link_to edit_force_path(force), class: "button is-info" do %>
                        <span class="icon">
                          <i class="mdi mdi-update"></i>
                        </span>
                    <% end %>
                  </span>
                  <span data-label="<%= t('.remove_force_link') %>" class="is-black is-top is-medium tooltip">
                    <%= link_to force, method: :delete, class: "button is-danger", data: {confirm: "¿Está seguro de eliminar el área?"} do %>
                        <span class="icon">
                          <i class="mdi mdi-close"></i>
                        </span>
                    <% end %>
                  </span>
                </div>

                <div class="column has-background-grey has-text-white">
                  <%= link_to factor_new_path(force), class: "button" do %>
                    <span class="icon">
                      <i class="mdi mdi-library-plus"></i>
                    </span>
                    <span><%= t('.new_link') %> </span>
                  <% end %>
                </div>
              </div>

              <% force.factors.each do |factor| %>
                <div class="columns">


                    <div class="column is-10">
                      <%= factor.title %>
                    </div>

                    <div class="column is-2">
                      <span data-label="<%= t('.edit_link') %>" class="is-black is-top is-medium tooltip">
                        <%= link_to factor_edit_path(factor,force), class: "button is-info" do %>
                          <span class="icon">
                            <i class="mdi mdi-update"></i>
                          </span>
                        <% end %>
                      </span>
                      <span data-label="<%= t('.remove_link') %>" class="is-black is-top is-medium tooltip">
                        <%= link_to factor_url(force), method: :delete,  class: "button is-danger", :data => {confirm: '¿Está seguro de eliminar el factor?'} do %>
                          <span class="icon">
                            <i class="mdi mdi-close"></i>
                          </span>
                        <% end %>
                      </span>
                    </div>

                </div>
              <% end %>
            <% end %>

          </div>

          


        </div>
      </div>

  </div>
</div>


