<p id="notice"><%= notice %></p>

<p>
  <strong>Indicator:</strong>
  <%= @dato.indicator %>
</p>

<p>
  <strong>Anio:</strong>
  <%= @dato.anio %>
</p>

<p>
  <strong>Enero:</strong>
  <%= @dato.enero %>
</p>

<p>
  <strong>Febrero:</strong>
  <%= @dato.febrero %>
</p>

<p>
  <strong>Marzo:</strong>
  <%= @dato.marzo %>
</p>

<p>
  <strong>Abril:</strong>
  <%= @dato.abril %>
</p>

<p>
  <strong>Mayo:</strong>
  <%= @dato.mayo %>
</p>

<p>
  <strong>Junio:</strong>
  <%= @dato.junio %>
</p>

<p>
  <strong>Julio:</strong>
  <%= @dato.julio %>
</p>

<p>
  <strong>Agosto:</strong>
  <%= @dato.agosto %>
</p>

<p>
  <strong>Septiembre:</strong>
  <%= @dato.septiembre %>
</p>

<p>
  <strong>Octubre:</strong>
  <%= @dato.octubre %>
</p>

<p>
  <strong>Noviembre:</strong>
  <%= @dato.noviembre %>
</p>

<p>
  <strong>Diciembre:</strong>
  <%= @dato.diciembre %>
</p>

<p>
  <strong>Total:</strong>
  <%= @dato.total %>
</p>

<p>
  <strong>Porcetaje:</strong>
  <%= @dato.porcetaje %>
</p>

<%= link_to 'Edit', edit_dato_path(@dato) %> |
<%= link_to 'Back', datos_path %>
