<% @title = "Misión" %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Dashboard", root_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Nosotros Somos</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column">
      <div class="card margin-small shadow-cm">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Información</p>
          <p class="subtitle is-6 has-text-centered">Información de la organización.</p>
                      
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Misión</th>
                <th>Visión</th>
                <th>Macroproceso</th>
                <th colspan="2">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <% @informations.each do |information| %>
                <tr>
                  <td><%= information.name %></td>
                  <td><%= information.mission %></td>    
                  <td><%= information.vision %></td>    
                  <td><%= information.macroproceso %></td>                      
                  <td>
                    <span data-label="<%= t('.edit_link') %>" class="is-black is-top is-medium tooltip">
                      <%= link_to(edit_information_path(information), html_options =  {class: "button is-info"}) do %>
                        <span class="icon">
                          <i class="mdi mdi-square-edit-outline"></i>
                        </span>
                      <% end %>
                    </span>
                  </td>
                  <td>
                    <span data-label="<%= t('.remove_link') %>" class="is-black is-top is-medium tooltip">
                      <%= link_to information, method: :delete, data: { confirm: '¿Estás seguro de eliminar el registro?' }, class: "button is-danger" do %>
                        <span class="icon">
                          <i class="mdi mdi-delete"></i>
                        </span>
                      <% end %>
                    </span>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          

          <%= link_to new_information_path, class: "button is-success" do %>
              <span class="icon">
                <i class="mdi mdi-library-plus"></i>
              </span>
              <span> <%= t('.new_link') %> </span>
          <% end %>
      </div>
  </div> 

  
</div>


