<% @title = "Estrableciendo Indicadores" %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Dashboard", root_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Estrableciendo Indicadores</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column">
      <div class="card margin-small shadow-cm">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Estrableciendo Indicadores</p>
          <p class="subtitle is-6 has-text-centered">Indicadores de los objetivos estratégicos.</p>

          <div class="title is-4"> Perspectivas </div>
          <div class="columns">
            <div class="column">
                <div class="tabs is-centered is-boxed"  id="tab_header">
                  <ul>
                      <li class="item is-active" data-option="financiera-1">
                          <a>
                              <span class="icon is-small"><i class="mdi mdi-cash mdi-24px" aria-hidden="true"></i></span>
                              <span>Financiera</span>
                          </a>
                      </li>
                      <li class="item" data-option="cliente-1">
                          <a>
                              <span class="icon is-small"><i class="mdi mdi-account-group mdi-24px" aria-hidden="true"></i></span>
                              <span>Cliente</span>
                          </a>
                      </li>
                      <li class="item" data-option="procesos-1">
                          <a>
                              <span class="icon is-small"><i class="mdi mdi-message-processing mdi-24px" aria-hidden="true"></i></span>
                              <span>Procesos Internos</span>
                          </a>
                      </li>
                      <li class="item" data-option="aprendizaje-1">
                          <a>
                              <span class="icon is-small"><i class="mdi mdi-school mdi-24px" aria-hidden="true"></i></span>
                              <span>Aprendizaje y Crecimiento</span>
                          </a>
                      </li>
                  </ul>
                </div>


                <div class="box" id="tab_container">
                <!-- Finaciera -->
                  
                
                    <div class="container_item is-active" data-item="financiera-1">
                      <%-if  @objectivos.perspectiva(1).count > 0 %>
                        <table class="table is-fullwidth">
                          <thead>
                            <tr>
                              <th>Nuevo</th>
                              <th>Objetivo</th>
                              <th>Aclarar</th>
                              <th>Variables que muestran logros</th>
                              <th>Indicador</th>
                              <th colspan="2">Acciones</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @objectivos.perspectiva(1).each do |objectivo| %>
                              <tr>
                                <td>
                                  <%= link_to indicator_new_path(objectivo), class: "button is-success tooltip", data: {tooltip: t('.new_link') } do %>
                                    <span class="icon">
                                      <i class="mdi mdi-library-plus"></i>
                                    </span>
                                    
                                  <% end %>
                                </td>
                                <td><%= objectivo.content %></td>
                                
                              <% objectivo.indicators.each do |indicator| %>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td><%= indicator.aclarar %></td>
                                  <td><%= indicator.variable %></td>
                                  <td><%= indicator.indicador %></td>                     
                                  <td>
                                    <%= link_to indicator_edit_path(indicator, objectivo), class: "button is-info tooltip", :data => {tooltip: t('.edit_link')} do %>
                                        <span class="icon">
                                          <i class="mdi mdi-update"></i>
                                        </span>
                                    <% end %>
                                  </td>
                                  <td>
                                    <%= link_to indicator_url(indicator), method: :delete, class: "button is-danger tooltip", data: {tooltip: t('.remove_link'), confirm: "¿Está seguro de eliminar el indicador?"} do %>
                                        <span class="icon">
                                          <i class="mdi mdi-close"></i>
                                        </span>
                                    <% end %>                                  
                                  </td>
                                </tr>
                              <% end %>
                                
                              </tr>

                            <% end %>
                          </tbody>
                        </table>
                      <% else %>
                        <div class="notification is-warning is-fullwidth"> No hay registros ingresados!!!</div>
                      <% end %>
                    </div>
               
                <!-- end Finaciera -->


                <!-- Cliente -->
                  <div class="container_item" data-item="cliente-1">
                      <%-if  @objectivos.perspectiva(2).count > 0 %>
                        <table class="table is-fullwidth">
                          <thead>
                            <tr>
                              <th>Nuevo</th>
                              <th>Objetivo</th>
                              <th>Aclarar</th>
                              <th>Variables que muestran logros</th>
                              <th>Indicador</th>
                              <th colspan="2">Acciones</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @objectivos.perspectiva(2).each do |objectivo| %>
                              <tr>
                                <td>
                                  <%= link_to indicator_new_path(objectivo), class: "button is-success tooltip", data: {tooltip: t('.new_link') } do %>
                                    <span class="icon">
                                      <i class="mdi mdi-library-plus"></i>
                                    </span>
                                    
                                  <% end %>
                                </td>
                                <td><%= objectivo.content %></td>
                                <% objectivo.indicators.each do |indicator| %>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td><%= indicator.aclarar %></td>
                                    <td><%= indicator.variable %></td>
                                    <td><%= indicator.indicador %></td>                     
                                    <td>
                                      <%= link_to indicator_edit_path(indicator, objectivo), class: "button is-info tooltip", :data => {tooltip: t('.edit_link')} do %>
                                          <span class="icon">
                                            <i class="mdi mdi-update"></i>
                                          </span>
                                      <% end %>
                                    </td>
                                    <td>
                                      <%= link_to indicator_url(indicator), method: :delete, class: "button is-danger tooltip", data: {tooltip: t('.remove_link'), confirm: "¿Está seguro de eliminar el indicador?"} do %>
                                          <span class="icon">
                                            <i class="mdi mdi-close"></i>
                                          </span>
                                      <% end %>                                  
                                    </td>
                                  </tr>
                              <% end %>
                                
                              </tr>

                            <% end %>
                          </tbody>
                        </table>
                      <% else %>
                        <div class="notification  is-warning is-fullwidth"> No hay registros ingresados!!!</div>
                      <% end %>
                  </div>
               
                <!-- end cliente -->


                <!-- Procesos -->
                
                
                    <div class="container_item" data-item="procesos-1">
                      <%-if  @objectivos.perspectiva(3).count > 0 %>
                        <table class="table is-fullwidth">
                          <thead>
                            <tr>
                              <th>Nuevo</th>
                              <th>Objetivo</th>
                              <th>Aclarar</th>
                              <th>Variables que muestran logros</th>
                              <th>Indicador</th>
                              <th colspan="2">Acciones</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @objectivos.perspectiva(3).each do |objectivo| %>
                              <tr>
                                <td>
                                  <%= link_to indicator_new_path(objectivo), class: "button is-success tooltip", data: {tooltip: t('.new_link') } do %>
                                    <span class="icon">
                                      <i class="mdi mdi-library-plus"></i>
                                    </span>
                                    
                                  <% end %>
                                </td>
                                <td><%= objectivo.content %></td>
                                <% objectivo.indicators.each do |indicator| %>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td><%= indicator.aclarar %></td>
                                    <td><%= indicator.variable %></td>
                                    <td><%= indicator.indicador %></td>                     
                                    <td>
                                      <%= link_to indicator_edit_path(indicator, objectivo), class: "button is-info tooltip", :data => {tooltip: t('.edit_link')} do %>
                                          <span class="icon">
                                            <i class="mdi mdi-update"></i>
                                          </span>
                                      <% end %>
                                    </td>
                                    <td>
                                      <%= link_to indicator_url(indicator), method: :delete, class: "button is-danger tooltip", data: {tooltip: t('.remove_link'), confirm: "¿Está seguro de eliminar el indicador?"} do %>
                                          <span class="icon">
                                            <i class="mdi mdi-close"></i>
                                          </span>
                                      <% end %>                                  
                                    </td>
                                  </tr>
                              <% end %>
                                
                              </tr>

                            <% end %>
                          </tbody>
                        </table>
                      <% else %>
                        <div class="notification is-warning is-fullwidth"> No hay registros ingresados!!!</div>
                      <% end %>
                    </div>
                <!-- end Procesos -->

                <!-- Crecimiento -->
               
               
                <div class="container_item" data-item="aprendizaje-1">
                  <%-if  @objectivos.perspectiva(4).count > 0 %>
                      <table class="table is-fullwidth">
                        <thead>
                          <tr>
                            <th>Nuevo</th>
                            <th>Objetivo</th>
                            <th>Aclarar</th>
                            <th>Variables que muestran logros</th>
                            <th>Indicador</th>
                            <th colspan="2">Acciones</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @objectivos.perspectiva(4).each do |objectivo| %>
                            <tr>
                              <td>
                                <%= link_to indicator_new_path(objectivo), class: "button is-success tooltip", data: {tooltip: t('.new_link') } do %>
                                  <span class="icon">
                                    <i class="mdi mdi-library-plus"></i>
                                  </span>
                                  
                                <% end %>
                              </td>
                              <td><%= objectivo.content %></td>
                              <% objectivo.indicators.each do |indicator| %>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td><%= indicator.aclarar %></td>
                                  <td><%= indicator.variable %></td>
                                  <td><%= indicator.indicador %></td>                     
                                  <td>
                                    <%= link_to indicator_edit_path(indicator, objectivo), class: "button is-info tooltip", :data => {tooltip: t('.edit_link')} do %>
                                        <span class="icon">
                                          <i class="mdi mdi-update"></i>
                                        </span>
                                    <% end %>
                                  </td>
                                  <td>
                                    <%= link_to indicator_url(indicator), method: :delete, class: "button is-danger tooltip", data: {tooltip: t('.remove_link'), confirm: "¿Está seguro de eliminar el indicador?"} do %>
                                        <span class="icon">
                                          <i class="mdi mdi-close"></i>
                                        </span>
                                    <% end %>                                  
                                  </td>
                                </tr>
                              <% end %>
                            </tr>                      

                          <% end %>
                        </tbody>
                      </table>
                    <% else %>
                      <div class="notification is-warning is-fullwidth"> No hay registros ingresados!!!</div>
                    <% end %>
                </div>
                
                <!-- end Crecimiento -->  
              </div>



            </div>
          </div>          

          
      </div>
  </div> 

  
</div>

 

