<% @title = "Misión" %>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Dashboard", root_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Misión</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth">
      <div class="card margin-small shadow-cm">
        <div class="card-content">
          <p class="title is-4 has-text-centered">La Misión</p>
          <p class="subtitle is-6 has-text-centered">La misión de la organización.</p>
                      
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Título</th>
                <th colspan="2">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <% @missions.each do |mission| %>
                <tr>
                  <td><%= mission.title %></td>                  
                  <td>
                    <%= link_to(edit_mission_path(mission), html_options =  {class: "button is-info"}) do %>
                      <span class="icon">
                        <i class="mdi mdi-square-edit-outline"></i>
                      </span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to mission, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" do %>
                      <span class="icon">
                        <i class="mdi mdi-delete"></i>
                      </span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          

          <%= link_to new_mission_path, class: "button is-success" do %>
              <span class="icon">
                <i class="mdi mdi-library-plus"></i>
              </span>
              <span> <%= t('.new_link') %> </span>
          <% end %>
      </div>
  </div> 

  
</div>


