<% @title = "Cadena de valor" %>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li> <%= link_to  "Dashboard", root_path %></li>
    <li class="is-active">      
      <a href="#" aria-current="page">Matriz FODA</a>
    </li>
  </ul>
</nav>


<div class="columns">
  <div class="column">
      <div class="card margin-small shadow-cm">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Estrategias de FODA</p>
          
            <div class="tabs is-centered is-boxed"  id="tab_header">
                <ul>
                    <li class="item is-active" data-option="1">
                        <a>
                            <span class="icon is-small"><i class="mdi mdi-strenght" aria-hidden="true"></i></span>
                            <span>Estrategias FO</span>
                        </a>
                    </li>
                    <li class="item" data-option="2">
                        <a>
                            <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                            <span>Estrategias FA</span>
                        </a>
                    </li>
                    <li class="item" data-option="3">
                        <a>
                            <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
                            <span>Estrategias DO</span>
                        </a>
                    </li>
                    <li class="item" data-option="4">
                        <a>
                            <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                            <span>Estrategias DA</span>
                        </a>
                    </li>
                </ul>
            </div>
         

          <div class="box" id="tab_container">
            <div class="container_item is-active" data-item="1">
                
                <div class="columns">
                    <div class="column is-6">                        
                        <%= image_tag  "foda.png", class: "width-full height-full" %>
                    </div>
                    <div class="column is-6">                        
                        <div class="title is-5 has-text-centered has-background-success has-text-white padding-small">Fortalezas</div>
                        <ul>
                        
                            <%-if @fortalezas.count > 0 %>
                                <% @fortalezas.each do |fortaleza| %>
                                <li>
                                    <div class="columns">
                                        <div class="column is-1">
                                            <%= fortaleza.slug %>
                                        </div>
                                        <div class="column">
                                            <%= fortaleza.content %>
                                        </div>
                                    </div>   
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>                    
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="title is-5  has-text-centered has-background-primary has-text-white padding-small">Oportunidades</div>
                        <ul>
                            <%-if @oportunidades.count > 0 %>
                                <% @oportunidades.each do |oportunidad| %>
                                <li>
                                    <div class="columns">
                                        <div class="column is-1">
                                            <%= oportunidad.slug %>
                                        </div>
                                        <div class="column">
                                            <%= oportunidad.content %>
                                        </div>
                                    </div> 
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">
                               <div class="title is-5  has-text-centered has-background-black has-text-white padding-small">Estrategias FO</div>
                            </div>
                            <div class="column is-1 is-flex-row-end">
                                <a href="#" class="button is-success tooltip" data-modal="add1" data-tooltip="Agregar estrategía">
                                    <span class="icon">
                                        <i class="mdi mdi-library-plus mdi-24px"></i>
                                    </span>
                                </a>                                
                            </div>


                            <div class="modal modal-add1">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Nueva estrategía FO</p>
                                        <button class="button is-danger close-modal">
                                            <span class="icon">
                                                <div class="mdi mdi-close"></div>
                                            </span>
                                        </button>
                                    </header>
                                    <%= content_tag :div,
                                            id: "add_form_estrategia_fo",
                                            data: {
                                                id: "",
                                                tipo: "FO",
                                                estrategia: @strategy.to_json(except: [:created_at,:updated_at,:objective_id])
                                            } do %>
                                        <section class="modal-card-body">                                       
                                       
                                            <div class="field">
                                                                                                                                          
                                                <div class="control">                                                     
                                                   
                                                    <b-field label="Foda">
                                                        <b-taginput
                                                            type="is-dark"
                                                            v-model="estrategia.foda"
                                                            attached>
                                                        </b-taginput>
                                                    </b-field>                                                   
                                                </div>
                                            </div>

                                            <input type="hidden" v-model="estrategia.objective_is" value="1" />

                                            <div class="field">
                                                <label for="content" class="label is-normal">Estrategia </label>
                                                
                                                <div class="control"> 
                                                    <textarea class="textarea is-info" placeholder="Ingrese su estrategia" v-model="estrategia.content"></textarea>
                                                    <div class="notification is-danger" v-if="errors.length > 0">                                                                                                        
                                                        <p v-for="(error, index) in errors" :key="index">La estrategia {{error}}</p>                                                       
                                                    </div>  
                                                </div>
                                            </div>

                                            <div class="actifield is-grouped margin-small-topons">
                                                <%#= form.submit "Guardar", class: "button is-primary" %>
                                            </div>
                                       
                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-success" @click="saveEstrategia()">Guardar</button>
                                            <button class="button is-danger" @click="closeModal()">
                                                Cancelar
                                            </button>
                                        </footer>
                                    <% end %>
                                </div>
                            </div>


                        </div>
                        
                        <ul>
                            <%-if @estrategia.estrategias('FO').count > 0 %>
                                <% @estrategia.estrategias("FO").each do |estrategia_fo| %>
                                <li>
                                
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="tags">
                                                <% estrategia_fo.foda.split(",").each do |value| %>
                                                    <span class="tag is-warning"><%= value %> </span>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="column is-8 no-padding-sides">
                                            <%= estrategia_fo.content %>
                                        </div>
                                        <div class="column">
                                            <%= link_to  edit_strategy_path(estrategia_fo), class: "button is-small is-info tooltip",  :data => {tooltip: "Editar estrategía"} do %>
                                                <span class="icon">
                                                    <i class="mdi mdi-update mdi-24px"></i>
                                                </span>
                                            <% end %>
                                            <%= link_to strategy_url(estrategia_fo), method: :delete, class: "button is-small is-danger tooltip", :data => {tooltip: "Eliminar estrategía", confirm: "¿Esta seguro de eliminar la estrategia?"} do %>
                                                <span class="icon">
                                                    <i class="mdi mdi-delete-forever mdi-24px"></i>
                                                </span>
                                            <% end %>
                                        </div>
                                    </div>  
                                       
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>


            <div class="container_item" data-item="2"> 
                <div class="columns">
                    <div class="column is-6">                        
                        <%= image_tag  "foda.png", class: "width-full height-full" %>
                    </div>
                    <div class="column is-6">
                        <div class="title is-5 has-text-centered has-background-success has-text-white padding-small">Fortalezas</div>
                        <ul>
                            <%-if @fortalezas.count > 0 %>
                                <% @fortalezas.each do |fortaleza| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= fortaleza.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= fortaleza.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>                    
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="title is-5  has-text-centered has-background-danger has-text-white padding-small">Amenazas</div>
                        <ul>
                            <%-if @amenazas.count > 0 %>
                                <% @amenazas.each do |amenaza| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= amenaza.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= amenaza.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">
                                <div class="title is-5  has-text-centered has-background-black has-text-white padding-small">Estrategias FA</div>
                            </div>
                            <div class="column is-1 is-flex-row-end">
                                <a href="#" class="button is-success tooltip" data-modal="2" data-tooltip="Agregar estrategía">
                                    <span class="icon">
                                        <i class="mdi mdi-library-plus mdi-24px"></i>
                                    </span>
                                </a>                                
                            </div>


                            <div class="modal modal-2">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Nueva estrategía FA</p>
                                        <button class="button is-danger close-modal">
                                            <span class="icon">
                                                <div class="mdi mdi-close"></div>
                                            </span>
                                        </button>
                                    </header>
                                    <%= content_tag :div,
                                            id: "add_form_estrategia_fa",
                                            data: {
                                                tipo: "FA",
                                                estrategia: @strategy.to_json(except: [:created_at,:updated_at,:objective_id])
                                            } do %>
                                        <section class="modal-card-body">                                       
                                       
                                            <div class="field">
                                                                                                                                          
                                                <div class="control">                                                     
                                                   
                                                    <b-field label="Foda">
                                                        <b-taginput
                                                            type="is-dark"
                                                            v-model="estrategia.foda">
                                                        </b-taginput>
                                                    </b-field>                                                   
                                                </div>
                                            </div>
                                            

                                            <div class="field">
                                                <label for="content" class="label is-normal">Estrategia </label>
                                                
                                                <div class="control"> 
                                                    <textarea class="textarea is-info" placeholder="Ingrese su estrategia" v-model="estrategia.content"></textarea>
                                                    <div class="notification is-danger" v-if="errors.length > 0">                                                                                                        
                                                        <p v-for="(error, index) in errors" :key="index">La estrategia {{error}}</p>                                                       
                                                    </div>  
                                                </div>
                                            </div>

                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-success" @click="saveEstrategia()">Guardar</button>
                                            <button class="button is-danger" @click="closeModal()">
                                                Cancelar
                                            </button>
                                        </footer>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        
                        <ul>
                            <%-if @estrategia.estrategias('FA').count > 0 %>
                                <% @estrategia.estrategias('FA').each do |estrategia_fa| %>
                                <li>
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="tags">
                                                <% estrategia_fa.foda.split(",").each do |value| %>
                                                    <span class="tag is-warning"><%= value %> </span>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="column is-8 no-padding-sides">
                                            <%= estrategia_fa.content %>
                                        </div>
                                        <div class="column">
                                            <%= link_to  edit_strategy_path(estrategia_fa), class: "button is-small is-info tooltip",  :data => {tooltip: "Editar estrategía"} do %>
                                                <span class="icon">
                                                    <i class="mdi mdi-update mdi-24px"></i>
                                                </span>
                                            <% end %>
                                            <%= link_to strategy_url(estrategia_fa), method: :delete, class: "button is-small is-danger tooltip", :data => {tooltip: "Eliminar estrategía", confirm: "¿Esta seguro de eliminar la estrategia?"} do %>
                                                <span class="icon">
                                                    <i class="mdi mdi-delete-forever mdi-24px"></i>
                                                </span>
                                            <% end %>
                                        </div>
                                    </div> 
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container_item" data-item="3">
               <div class="columns">
                    <div class="column is-6">                        
                        <%= image_tag  "foda.png", class: "width-full height-full" %>
                    </div>
                    <div class="column is-6">
                        <div class="title is-5 has-text-centered has-background-warning has-text-white padding-small">Debilidades</div>
                        <ul>
                            <%-if @debilidades.count > 0 %>
                                <% @debilidades.each do |debilidad| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= debilidad.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= debilidad.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>                    
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="title is-5  has-text-centered has-background-primary has-text-white padding-small">Oportunidades</div>
                        <ul>
                            <%-if @oportunidades.count > 0 %>
                                <% @oportunidades.each do |oportunidad| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= oportunidad.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= oportunidad.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">                                
                                <div class="title is-5  has-text-centered has-background-black has-text-white padding-small">Estrategias DO</div>
                            </div>
                            <div class="column is-1 is-flex-row-end">
                                <a href="#" class="button is-success tooltip" data-modal="3" data-tooltip="Agregar estrategía">
                                    <span class="icon">
                                        <i class="mdi mdi-library-plus mdi-24px"></i>
                                    </span>
                                </a>                                
                            </div>


                            <div class="modal modal-3">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Nueva estrategía DO</p>
                                        <button class="button is-danger close-modal">
                                            <span class="icon">
                                                <div class="mdi mdi-close"></div>
                                            </span>
                                        </button>
                                    </header>
                                    <%= content_tag :div,
                                            id: "add_form_estrategia_do",
                                            data: {
                                                tipo: "DO",
                                                estrategia: @strategy.to_json(except: [:created_at,:updated_at,:objective_id])
                                            } do %>
                                        <section class="modal-card-body">                                       
                                       
                                            <div class="field">
                                                                                                                                          
                                                <div class="control">                                                     
                                                   
                                                    <b-field label="Foda">
                                                        <b-taginput
                                                            type="is-dark"
                                                            v-model="estrategia.foda">
                                                        </b-taginput>
                                                    </b-field>                                                   
                                                </div>
                                            </div>
                                            

                                            <div class="field">
                                                <label for="content" class="label is-normal">Estrategia </label>
                                                
                                                <div class="control"> 
                                                    <textarea class="textarea is-info" placeholder="Ingrese su estrategia" v-model="estrategia.content"></textarea>
                                                    <div class="notification is-danger" v-if="errors.length > 0">                                                                                                        
                                                        <p v-for="(error, index) in errors" :key="index">La estrategia {{error}}</p>                                                       
                                                    </div>  
                                                </div>
                                            </div>

                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-success" @click="saveEstrategia()">Guardar</button>
                                            <button class="button is-danger" @click="closeModal()">
                                                Cancelar
                                            </button>
                                        </footer>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <%-if @estrategia.estrategias('DO').count > 0 %>
                                <% @estrategia.estrategias('DO').each do |estrategia_do| %>
                                <li>
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="tags">
                                                <% estrategia_do.foda.split(",").each do |value| %>
                                                    <span class="tag is-warning"><%= value %> </span>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="column is-8 no-padding-sides">
                                            <%= estrategia_do.content %>
                                        </div>
                                        <div class="column">
                                            <%= link_to  edit_strategy_path(estrategia_do), class: "button is-small is-info tooltip",  :data => {tooltip: "Editar estrategía"} do %>
                                                <span class="icon">
                                                    <i class="mdi mdi-update mdi-24px"></i>
                                                </span>
                                            <% end %>
                                            <%= link_to strategy_url(estrategia_do), method: :delete, class: "button is-small is-danger tooltip", :data => {tooltip: "Eliminar estrategía", confirm: "¿Esta seguro de eliminar la estrategia?"} do %>
                                                <span class="icon">
                                                    <i class="mdi mdi-delete-forever mdi-24px"></i>
                                                </span>
                                            <% end %>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container_item" data-item="4">
                <div class="columns">
                    <div class="column is-6">                        
                        <%= image_tag  "foda.png", class: "width-full height-full" %>
                    </div>
                    <div class="column is-6">
                        <div class="title is-5 has-text-centered has-background-warning has-text-white padding-small">Debilidades</div>
                        <ul>
                            <%-if @debilidades.count > 0 %>
                                <% @debilidades.each do |debilidad| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= debilidad.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= debilidad.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>                    
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="title is-5  has-text-centered has-background-danger has-text-white padding-small">Amenazas</div>
                        <ul>
                            <%-if @amenazas.count > 0 %>
                                <% @amenazas.each do |amenaza| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= amenaza.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= amenaza.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">
                                <div class="title is-5  has-text-centered has-background-black has-text-white padding-small">Estrategias DA</div>
                            </div>
                            <div class="column is-1 is-flex-row-end">
                                <a href="#" class="button is-success tooltip" data-modal="4" data-tooltip="Agregar estrategía">
                                    <span class="icon">
                                        <i class="mdi mdi-library-plus mdi-24px"></i>
                                    </span>
                                </a>                                
                            </div>


                            <div class="modal modal-4">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Nueva estrategía DA</p>
                                        <button class="button is-danger close-modal">
                                            <span class="icon">
                                                <div class="mdi mdi-close"></div>
                                            </span>
                                        </button>
                                    </header>
                                    <%= content_tag :div,
                                            id: "add_form_estrategia_da",
                                            data: {
                                                tipo: "DA",
                                                estrategia: @strategy.to_json(except: [:created_at,:updated_at,:objective_id])
                                            } do %>
                                        <section class="modal-card-body">                                       
                                       
                                            <div class="field">
                                                                                                                                          
                                                <div class="control">                                                     
                                                   
                                                    <b-field label="Foda">
                                                        <b-taginput
                                                            type="is-dark"
                                                            v-model="estrategia.foda">
                                                        </b-taginput>
                                                    </b-field>                                                   
                                                </div>
                                            </div>
                                            

                                            <div class="field">
                                                <label for="content" class="label is-normal">Estrategia </label>
                                                
                                                <div class="control"> 
                                                    <textarea class="textarea is-info" placeholder="Ingrese su estrategia" v-model="estrategia.content"></textarea>
                                                    <div class="notification is-danger" v-if="errors.length > 0">                                                                                                        
                                                        <p v-for="(error, index) in errors" :key="index">La estrategia {{error}}</p>                                                       
                                                    </div>  
                                                </div>
                                            </div>

                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-success" @click="saveEstrategia()">Guardar</button>
                                            <button class="button is-danger" @click="closeModal()">
                                                Cancelar
                                            </button>
                                        </footer>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <%-if @estrategia.estrategias('DA').count > 0 %>
                                <% @estrategia.estrategias('DA').each do |estrategia_da| %>
                                <li>
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="tags">
                                                <% estrategia_da.foda.split(",").each do |value| %>
                                                    <span class="tag is-warning"><%= value %> </span>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="column is-8 no-padding-sides">
                                            <%= estrategia_da.content %>
                                        </div>
                                        <div class="column">
                                            <%= link_to  edit_strategy_path(estrategia_da), class: "button is-small is-info tooltip",  :data => {tooltip: "Editar estrategía"} do %>
                                                <span class="icon">
                                                    <i class="mdi mdi-update mdi-24px"></i>
                                                </span>
                                            <% end %>
                                            <%= link_to strategy_url(estrategia_da), method: :delete, class: "button is-small is-danger tooltip", :data => {tooltip: "Eliminar estrategía", confirm: "¿Esta seguro de eliminar la estrategia?"} do %>
                                                <span class="icon">
                                                    <i class="mdi mdi-delete-forever mdi-24px"></i>
                                                </span>
                                            <% end %>
                                        </div>
                                    </div>   
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        </div>
      </div>

  </div>
</div>


