<% @title = "Cadena de valor" %>

<div class="columns">
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li> <%= link_to  "Dashboard", root_path %></li>
                <li class="is-active">      
                <a href="#" aria-current="page">Matriz FODA</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="column is-flex-row-end">
        <%= link_to objectives_path, class: "button is-info" do %>
        <p> Objectivos </p>
        <span class="icon">
            <i class="mdi mdi-arrow-right"></i>
        </span>
        <% end %>
    </div>
</div>


<div class="columns">
  <div class="column">
      <div class="card margin-small shadow-cm">
        <div class="card-content">
          <p class="title is-4 has-text-centered">Estrategias de FODA</p>
          
            <div class="tabs is-centered is-boxed"  id="tab_header">
                <ul>
                    <li class="item is-active" data-option="1">
                        <a>
                            <span class="icon is-small"><i class="mdi mdi-strenght" aria-hidden="true"></i></span>
                            <span>Estrategias FO</span>
                        </a>
                    </li>
                    <li class="item" data-option="2">
                        <a>
                            <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                            <span>Estrategias FA</span>
                        </a>
                    </li>
                    <li class="item" data-option="3">
                        <a>
                            <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
                            <span>Estrategias DO</span>
                        </a>
                    </li>
                    <li class="item" data-option="4">
                        <a>
                            <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                            <span>Estrategias DA</span>
                        </a>
                    </li>
                </ul>
            </div>
         

          <div class="box" id="tab_container">
            <div class="container_item is-active" data-item="1">
                
                <div class="columns">
                    <div class="column is-6">                        
                        <%= image_tag  "foda.png", class: "width-full height-full" %>
                    </div>
                    <div class="column is-6">                        
                        <div class="title is-5 has-text-centered has-background-success has-text-white padding-small">Fortalezas</div>
                        <ul>
                        
                            <%-if @fortalezas.count > 0 %>
                                <% @fortalezas.each do |fortaleza| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= fortaleza.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= fortaleza.content %>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>   
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>                    
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="title is-5  has-text-centered has-background-primary has-text-white padding-small">Oportunidades</div>
                        <ul>
                            <%-if @oportunidades.count > 0 %>
                                <% @oportunidades.each do |oportunidad| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= oportunidad.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= oportunidad.content %>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">
                               <div class="title is-5  has-text-centered has-background-black has-text-white padding-small">Estrategias FO</div>
                            </div>
                            <div class="column is-1 is-flex-row-end">
                                <span data-label="<%= t('.new_link') %>" class="is-black is-top is-medium tooltip">
                                    <%= link_to strategy_new_path("FO"), class: "button is-small is-success" do %>
                                        <span class="icon">
                                            <i class="mdi mdi-library-plus mdi-24px"></i>
                                        </span>
                                    <% end %>
                                </span>                               
                            </div>




                        </div>
                        
                        <ul>
                            <%-if @estrategia.estrategias('FO').count > 0 %>
                                <% @estrategia.estrategias("FO").each do |estrategia_fo| %>
                                <li>
                                
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="tags">
                                                <% estrategia_fo.foda.split(",").each do |value| %>
                                                    <span class="tag is-warning"><%= value %> </span>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="column is-8 no-padding-sides">
                                            <%= estrategia_fo.content %>
                                        </div>
                                        <div class="column">
                                            <span data-label="<%= t('.edit_link') %>" class="is-black is-top is-medium tooltip">
                                                <%= link_to  edit_strategy_path(estrategia_fo), class: "button is-small is-info" do %>
                                                    <span class="icon">
                                                        <i class="mdi mdi-update mdi-24px"></i>
                                                    </span>
                                                <% end %>
                                            </span>
                                            <span data-label="<%= t('.remove_link') %>" class="is-black is-top is-medium tooltip">
                                                <%= link_to strategy_url(estrategia_fo), method: :delete, class: "button is-small is-danger", :data => {confirm: "多Esta seguro de eliminar la estrategia?"} do %>
                                                    <span class="icon">
                                                        <i class="mdi mdi-delete-forever mdi-24px"></i>
                                                    </span>
                                                <% end %>
                                            </span>
                                        </div>
                                    </div>  
                                       
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>


            <div class="container_item" data-item="2"> 
                <div class="columns">
                    <div class="column is-6">                        
                        <%= image_tag  "foda.png", class: "width-full height-full" %>
                    </div>
                    <div class="column is-6">
                        <div class="title is-5 has-text-centered has-background-success has-text-white padding-small">Fortalezas</div>
                        <ul>
                            <%-if @fortalezas.count > 0 %>
                                <% @fortalezas.each do |fortaleza| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= fortaleza.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= fortaleza.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>                    
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="title is-5  has-text-centered has-background-danger has-text-white padding-small">Amenazas</div>
                        <ul>
                            <%-if @amenazas.count > 0 %>
                                <% @amenazas.each do |amenaza| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= amenaza.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= amenaza.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">
                                <div class="title is-5  has-text-centered has-background-black has-text-white padding-small">Estrategias FA</div>
                            </div>
                            <div class="column is-1 is-flex-row-end">
                                <span data-label="<%= t('.new_link') %>" class="is-black is-top is-medium tooltip">
                                    <%= link_to strategy_new_path("FA"), class: "button is-small is-success" do %>
                                        <span class="icon">
                                            <i class="mdi mdi-library-plus mdi-24px"></i>
                                        </span>
                                    <% end %>
                                </span>                           
                            </div>


                        </div>
                        
                        <ul>
                            <%-if @estrategia.estrategias('FA').count > 0 %>
                                <% @estrategia.estrategias('FA').each do |estrategia_fa| %>
                                <li>
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="tags">
                                                <% estrategia_fa.foda.split(",").each do |value| %>
                                                    <span class="tag is-warning"><%= value %> </span>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="column is-8 no-padding-sides">
                                            <%= estrategia_fa.content %>
                                        </div>
                                        <div class="column">
                                            <span data-label="<%= t('.edit_link') %>" class="is-black is-top is-medium tooltip">
                                                <%= link_to  edit_strategy_path(estrategia_fa), class: "button is-small is-info" do %>
                                                    <span class="icon">
                                                        <i class="mdi mdi-update mdi-24px"></i>
                                                    </span>
                                                <% end %>
                                            </span>
                                            <span data-label="<%= t('.remove_link') %>" class="is-black is-top is-medium tooltip">
                                                <%= link_to strategy_url(estrategia_fa), method: :delete, class: "button is-small is-danger", :data => {confirm: "多Esta seguro de eliminar la estrategia?"} do %>
                                                    <span class="icon">
                                                        <i class="mdi mdi-delete-forever mdi-24px"></i>
                                                    </span>
                                                <% end %>
                                            </span>
                                        </div>
                                    </div> 
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container_item" data-item="3">
               <div class="columns">
                    <div class="column is-6">                        
                        <%= image_tag  "foda.png", class: "width-full height-full" %>
                    </div>
                    <div class="column is-6">
                        <div class="title is-5 has-text-centered has-background-warning has-text-white padding-small">Debilidades</div>
                        <ul>
                            <%-if @debilidades.count > 0 %>
                                <% @debilidades.each do |debilidad| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= debilidad.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= debilidad.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>                    
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="title is-5  has-text-centered has-background-primary has-text-white padding-small">Oportunidades</div>
                        <ul>
                            <%-if @oportunidades.count > 0 %>
                                <% @oportunidades.each do |oportunidad| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= oportunidad.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= oportunidad.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">                                
                                <div class="title is-5  has-text-centered has-background-black has-text-white padding-small">Estrategias DO</div>
                            </div>
                            <div class="column is-1 is-flex-row-end">
                               <span data-label="<%= t('.new_link') %>" class="is-black is-top is-medium tooltip">
                                    <%= link_to strategy_new_path("DO"), class: "button is-small is-success" do %>
                                        <span class="icon">
                                            <i class="mdi mdi-library-plus mdi-24px"></i>
                                        </span>
                                    <% end %>
                                </span>                              
                            </div>

                        </div>
                        <ul>
                            <%-if @estrategia.estrategias('DO').count > 0 %>
                                <% @estrategia.estrategias('DO').each do |estrategia_do| %>
                                <li>
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="tags">
                                                <% estrategia_do.foda.split(",").each do |value| %>
                                                    <span class="tag is-warning"><%= value %> </span>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="column is-8 no-padding-sides">
                                            <%= estrategia_do.content %>
                                        </div>
                                        <div class="column">
                                            <span data-label="<%= t('.edit_link') %>" class="is-black is-top is-medium tooltip">
                                                <%= link_to  edit_strategy_path(estrategia_do), class: "button is-small is-info" do %>
                                                    <span class="icon">
                                                        <i class="mdi mdi-update mdi-24px"></i>
                                                    </span>
                                                <% end %>
                                            </span>
                                            <span data-label="<%= t('.remove_link') %>" class="is-black is-top is-medium tooltip">
                                                <%= link_to strategy_url(estrategia_do), method: :delete, class: "button is-small is-danger", :data => {confirm: "多Esta seguro de eliminar la estrategia?"} do %>
                                                    <span class="icon">
                                                        <i class="mdi mdi-delete-forever mdi-24px"></i>
                                                    </span>
                                                <% end %>
                                            </span>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container_item" data-item="4">
                <div class="columns">
                    <div class="column is-6">                        
                        <%= image_tag  "foda.png", class: "width-full height-full" %>
                    </div>
                    <div class="column is-6">
                        <div class="title is-5 has-text-centered has-background-warning has-text-white padding-small">Debilidades</div>
                        <ul>
                            <%-if @debilidades.count > 0 %>
                                <% @debilidades.each do |debilidad| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= debilidad.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= debilidad.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>                    
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="title is-5  has-text-centered has-background-danger has-text-white padding-small">Amenazas</div>
                        <ul>
                            <%-if @amenazas.count > 0 %>
                                <% @amenazas.each do |amenaza| %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <%= amenaza.slug %>
                                                </div>
                                                <div class="column">
                                                    <%= amenaza.content %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">
                                <div class="title is-5  has-text-centered has-background-black has-text-white padding-small">Estrategias DA</div>
                            </div>
                            <div class="column is-1 is-flex-row-end">
                                <span data-label="<%= t('.new_link') %>" class="is-black is-top is-medium tooltip">
                                    <%= link_to strategy_new_path("DA"), class: "button is-small is-success" do %>
                                        <span class="icon">
                                            <i class="mdi mdi-library-plus mdi-24px"></i>
                                        </span>
                                    <% end %>
                                </span>                           
                            </div>


                           
                        </div>
                        <ul>
                            <%-if @estrategia.estrategias('DA').count > 0 %>
                                <% @estrategia.estrategias('DA').each do |estrategia_da| %>
                                <li>
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="tags">
                                                <% estrategia_da.foda.split(",").each do |value| %>
                                                    <span class="tag is-warning"><%= value %> </span>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="column is-8 no-padding-sides">
                                            <%= estrategia_da.content %>
                                        </div>
                                        <div class="column">
                                            <span data-label="<%= t('.edit_link') %>" class="is-black is-top is-medium tooltip">
                                                <%= link_to  edit_strategy_path(estrategia_da), class: "button is-small is-info" do %>
                                                    <span class="icon">
                                                        <i class="mdi mdi-update mdi-24px"></i>
                                                    </span>
                                                <% end %>
                                            </span>
                                            <span data-label="<%= t('.remove_link') %>" class="is-black is-top is-medium tooltip">
                                                <%= link_to strategy_url(estrategia_da), method: :delete, class: "button is-small is-danger", :data => {confirm: "多Esta seguro de eliminar la estrategia?"} do %>
                                                    <span class="icon">
                                                        <i class="mdi mdi-delete-forever mdi-24px"></i>
                                                    </span>
                                                <% end %>
                                            </span>
                                        </div>
                                    </div>   
                                </li>
                                <% end %>
                            <% else %>
                                <li>
                                    <div class="card">
                                        <div class="card-content">
                                            No hay registros!
                                        </div>
                                    </div>  
                                </li>
                                
                            <% end %>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        </div>
      </div>

  </div>
</div>


