<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div class="message is-danger">
      <h2 class="title is-5 has-text-danger"><%= pluralize(activity.errors.count, "error") %> al realizar la operación:</h2>
      <div class="message-body">
        <ul>
          <% activity.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= form.hidden_field :area_id, value: @area_id %>
  <div class="field">
    <%= form.label :name, class: "label is-normal" %>
    <div class="control"> 
      <%= form.text_area :name, class: "textarea is-info" %>
    </div>
  </div>

  <div class="field is-grouped margin-small-topons">
    <%= form.submit "Guardar", class: "button is-primary" %>
  </div>
<% end %>

