<!DOCTYPE html>
<html>
  <head>
    <title>BSC Fiscalia de la Nación - <%= @title %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <%= javascript_pack_tag 'form_actions' %>
  </head>

  <body>
    <div id="app">
      <%= render 'partials/message' %>
      
      <%= render  "partials/nav" %>    
      <%= render 'partials/sidebar' %>

      <div class="main-page">      
        <div class="main-content ">  
            <div class="card-content">
                <div class="container"> 
                  <%= yield %>
                </div>
            </div>  
        </div>
      </div>
    
    </div>
  </body>
</html>
